
/C#API/.vs/
/C#API/bin/Debug/
/C#API/obj/
/C#API/bin/Release/
/C#API/UnitTest/obj/
/C#API/UnitTest/bin/
/C#API/packages/
/C#API/TestResults/
/C#API/UnitTest4.5/bin/Release/
/C#API/UnitTest4.5/bin/Debug/
/C#API/UnitTest4.5/obj/
/C#API/xcederAPINet45/bin/Debug/
/C#API/xcederAPINet45/obj/
